.app{
    background-image: url('../../../public/couple.jpg');
    background-size: contain;
}
.site{
    border: 1px solid lightblue;
    background-color: rgba(159, 211, 234, .8);
    color: rgb(192, 110, 192);
    font-family: "Hanalei Fill";
}