@media only screen and (max-width: 914px) {
    .searchButton{
    }
}
.container{
    width: 50%;
    margin: auto;
}
.containerInputs{
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    .userInput{
        width: 75%;
        border-radius: 20px;
        text-align: center;
        background-color: transparent;
        border: none;
        font-family: "Hanalei Fill";
        color:rgb(192, 110, 192);
        outline: none;
    }
    .searchButton{
        width: 25%;
        border-radius: 20px;
        background-color: rgb(192, 110, 192);
        color: whitesmoke;
        font-family: "Hanalei Fill";
        border: 6px solid rgba(242, 236, 236, 0.7);
        background-color: rgb(192, 110, 192);
    }
    .searchButton:hover{
        cursor: pointer;
    }
    .searchButton:active{
        color: rgb(192, 110, 192);
        border: 14px solid rgb(192, 110, 192);
        background-color: rgba(242, 236, 236, 0.7);
    }
}